.section+* {
  position: relative;

}

.section {
  margin: 50px;
  margin-top: 50%;
}

@media (min-width:250px) {
  .section {
    margin-top: 620px;
  }

}

.content {
  margin-top: 0;
  font-size: 1.25rem;
  color: #7A7A7A;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Vertically center content */
  margin: 20px;
  margin-top: 80px;
}

.text {
  flex: 1;
  /* Take up remaining space in the row */
  padding: 20px;
}

.image::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.container:hover .image::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

/* Define a CSS keyframe animation */
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
    /* Move 50px to the right */
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    /* Reset to its original position */
  }
}

.image {
  background-image: url('../../public/intouch.jpg');
  background-size: cover;
  /* /* background-position: center; */
  height: 300px;
  flex: 1;
  /* Take up remaining space in the row */
  /* opacity: 0; */
  animation: fadeInRight 0.5s ease-in-out;
}

.imageservices {
  /* background-image: url('../../public/mission.jpg'); */
  background-size: cover;
  /* /* background-position: center; */
  height: 300px;
  flex: 1;
  /* Take up remaining space in the row */
}

.aboutcontent {
  margin-top: 50px;
  font-size: 1.2rem;
  color: #7A7A7A;
  text-align: left;
}



@media (max-width: 768px) {

  .container {
    flex-direction: column;
    /* Stack elements on small screens */
  }

  .image,
  .text {
    order: 0;
    /* Reset the order for default stacking order on larger screens */
  }
}

/* contact section*/

.contact {
  margin-bottom: 30px;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../public/contactSection.jpg');
  /* Replace with the path to your hero image */
  background-size: cover;
  background-position: center;
  color: #0b0b0b;
  text-align: center;
  padding: 100px 0;
  /* box-shadow: 0px 0px 50px 50px #484747 inset; */
}



.contact-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(231, 35, 35, 0.5);
  /* Adjust the overlay color and opacity */
  z-index: 1;
  /* Place the overlay behind the content */
}

.contactcontent {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  z-index: 2;
}

.contacttitle {
  font-size: 2.5rem;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.subtitle {
  color: white;
  margin-top: 50px;
  font-size: 1.2rem;
}

.contactButton {
  margin-top: 50px;
  backdrop-filter: blur(10px);
  margin-bottom: 10px;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  padding: 20px 40px 20px 40px;
  border-radius: 50px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.contactButton:hover {
  background-color: #0bb4aa;
}

.hoverButton {
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  border: 3px solid #7A7A7A;
  color: #7A7A7A;
  text-decoration: none;
  padding: 20px 40px 20px 40px;
  border-radius: 50px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.hoverButton:hover {
  background-color: #0bb4aa;

}
.projectItem{
  margin-top: 20px;
}
.description{
  color: #7A7A7A;
  margin-top: 5px;
}